<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>jiange</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.jiange.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/com.jiange.servlet/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CarServlet</servlet-name>
    <servlet-class>com.jiange.servlet.CarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarServlet</servlet-name>
    <url-pattern>/com.jiange.servlet/CarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>com.jiange.servlet.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/com.jiange.servlet/SignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DetailServlet</servlet-name>
    <servlet-class>com.jiange.servlet.DetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailServlet</servlet-name>
    <url-pattern>/com.jiange.servlet/DetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AlertCarServlet</servlet-name>
    <servlet-class>com.jiange.servlet.AlertCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlertCarServlet</servlet-name>
    <url-pattern>/com.jiange.servlet/AlertCarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.jiange.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/com.jiange.servlet/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AlterOrderServlet</servlet-name>
    <servlet-class>com.jiange.servlet.AlterOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterOrderServlet</servlet-name>
    <url-pattern>/com.jiange.servlet/AlterOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveUserServlet</servlet-name>
    <servlet-class>com.jiange.servlet.RemoveUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveUserServlet</servlet-name>
    <url-pattern>/com.jiange.servlet/RemoveUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.jiange.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/com.jiange.servlet/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserOrderServlet</servlet-name>
    <servlet-class>com.jiange.servlet.UserOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserOrderServlet</servlet-name>
    <url-pattern>/com.jiange.servlet/UserOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserInfServlet</servlet-name>
    <servlet-class>com.jiange.servlet.UserInfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInfServlet</servlet-name>
    <url-pattern>/com.jiange.servlet/UserInfServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangePassWordServlet</servlet-name>
    <servlet-class>com.jiange.servlet.ChangePassWordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassWordServlet</servlet-name>
    <url-pattern>/com.jiange.servlet/ChangePassWordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserOthersServlet</servlet-name>
    <servlet-class>com.jiange.servlet.UserOthersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserOthersServlet</servlet-name>
    <url-pattern>/com.jiange.servlet/UserOthersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>json</servlet-name>
    <servlet-class>com.jiange.servlet.json</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>json</servlet-name>
    <url-pattern>/com.jiange.servlet/json</url-pattern>
  </servlet-mapping>
</web-app>